<% layout(layoutFile) %>
<nav class="aui-navgroup aui-navgroup-horizontal">
    <div class="aui-navgroup-inner">
        <div class="aui-navgroup-primary">
            <ul class="aui-nav">
                <li  class="aui-nav-selected"><a href="/index">Index</a></li>
                <li><a href="/getkey">Request a key</a></li>
                <li><a href="/getcertificate">Request a certificate</a></li>
            </ul>
        </div><!-- .aui-navgroup-primary -->
    </div><!-- .aui-navgroup-inner -->
</nav><!-- .aui-navgroup -->

<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-content">
        <h1>Index Member</h1>
    </section>
  </div>
</div>