<% layout(layoutFile) %>

<nav class="aui-navgroup aui-navgroup-horizontal">
    <div class="aui-navgroup-inner">
        <div class="aui-navgroup-primary">
            <ul class="aui-nav">
                <li class="aui-nav-selected"><a href="/index">Index</a></li>
                <li><a href="/certificationAuthority">Certification Authority</a></li>
                <li><a href="/certificate">Certificate</a></li>
               <!-- <li><a href="/revocation">Revocation list of certificates</a></li>-->
            </ul>
        </div><!-- .aui-navgroup-primary -->
    </div><!-- .aui-navgroup-inner -->
</nav><!-- .aui-navgroup -->

<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-content">
        <h1>Index Admin</h1>
    </section>
  </div>
</div>